# RFM Analysis

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv('https://raw.githubusercontent.com/Aswath98/MarketingAnalytics/master/DataToModel.csv',index_col =[0])

## Create the RFM Table

In [22]:
import datetime as dt
NOW = dt.datetime(2013,12,31)

In [5]:
# Make the date_placed column datetime
train['Outlet_Establishment_Year'] = pd.to_datetime(train['Outlet_Establishment_Year'])

Create the RFM Table

In [30]:
rfmTable = train.groupby('Item_Identifier').agg({'Outlet_Establishment_Year': lambda x: (NOW - x.max()).days/365.25, # Recency
                                        'Outlet_Identifier': lambda x: len(x),      # Frequency
                                        'Item_Outlet_Sales': lambda x: x.sum()}) # Monetary Value

rfmTable['Outlet_Establishment_Year'] = rfmTable['Outlet_Establishment_Year'].astype(int)
rfmTable.rename(columns={'Outlet_Establishment_Year': 'recency', 
                         'Outlet_Identifier': 'frequency', 
                         'Item_Outlet_Sales': 'monetary_value'}, inplace=True)

In [31]:
rfmTable

                 recency  frequency  monetary_value
Item_Identifier
DRA12                 43          6      11061.6012
DRA24                 43          7      15723.5328
DRA59                 43          8      20915.4412
DRB01                 43          3       4554.0720
DRB13                 43          5      12144.1920
DRB24                 43          4      12202.7824
DRB25                 43          6       9969.0234
DRB48                 43          7       4360.3242
DRC01                 43          6       5173.2660
DRC12                 43          4       8949.6836
DRC13                 43          4       6528.1690
DRC24                 43          2       6305.7918
DRC25                 43          7       7901.7144
DRC27                 43          6      16460.5734
DRC36                 43          5      15059.0644
DRC49                 43          3       8484.9552
DRD01                 43          5       4255.1278
DRD12                 43          7      11036.9666
DRD13                 43          7       8628.7680
DRD15                 43          7      17659.6792
DRD24                 43          7      13756.0938
DRD25                 43          8      13921.8780
DRD27                 43          5       6349.0688
DRD37                 43          7       6245.2040
DRD49                 43          4      14539.7404
DRD60                 43          6      15631.6524
DRE01                 43          2       5816.4288
DRE03                 43          7       4538.0928
DRE12                 43          6       9281.2520
DRE13                 43          5       7762.5622
...                  ...        ...             ...
NCX05                 43          8      10194.7296
NCX06                 43          5      14487.8080
NCX17                 43          3      10020.2900
NCX18                 43          7      16891.3460
NCX29                 43          8      15601.6914
NCX30                 43          6      23529.3720
NCX41                 43          6      14185.5348
NCX42                 43          7      18418.6912
NCX53                 43          2       4112.6466
NCX54                 43          7      11750.7042
NCY05                 43          5       3352.3030
NCY06                 43          5      11875.2088
NCY17                 43          5       4371.6428
NCY18                 43          9      29067.4964
NCY29                 43          8       5998.8580
NCY30                 43          4      11771.3440
NCY41                 43          7       4781.7756
NCY42                 43          4      10449.7310
NCY53                 43          5      10738.0224
NCY54                 43          4      13278.0494
NCZ05                 43          3       2063.9800
NCZ06                 43          7      22830.2820
NCZ17                 43          6       4933.5780
NCZ18                 43          7      29679.3666
NCZ29                 43          4       6669.3186
NCZ30                 43          7      12653.5290
NCZ41                 43          5       9137.4392
NCZ42                 43          5      19199.0088
NCZ53                 43          5      15073.7120
NCZ54                 43          7      22743.7280

[1559 rows x 3 columns]

## Determining RFM Quartiles

In [34]:
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])

In [35]:
quantiles

      recency  frequency  monetary_value
0.25     43.0        4.0       6318.7749
0.50     43.0        5.0      10785.9600
0.75     43.0        6.5      16045.7800

Send quantiles to a dictionary, easier to use.

In [36]:
quantiles = quantiles.to_dict()

In [37]:
quantiles

{'frequency': {0.25: 4.0, 0.5: 5.0, 0.75: 6.5},
 'monetary_value': {0.25: 6318.7749, 0.5: 10785.96, 0.75: 16045.779999999999},
 'recency': {0.25: 43.0, 0.5: 43.0, 0.75: 43.0}}

## Creating the RFM segmentation table

In [38]:
rfmSegmentation = rfmTable

In [39]:
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def RClass(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def FMClass(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [40]:
rfmSegmentation['R_Quartile'] = rfmSegmentation['recency'].apply(RClass, args=('recency',quantiles,))
rfmSegmentation['F_Quartile'] = rfmSegmentation['frequency'].apply(FMClass, args=('frequency',quantiles,))
rfmSegmentation['M_Quartile'] = rfmSegmentation['monetary_value'].apply(FMClass, args=('monetary_value',quantiles,))

In [41]:
rfmSegmentation['RFMClass'] = rfmSegmentation.R_Quartile.map(str) \
                            + rfmSegmentation.F_Quartile.map(str) \
                            + rfmSegmentation.M_Quartile.map(str)

In [50]:
rfmSegmentation = rfmSegmentation.reset_index()

In [51]:
rfmSegmentation[rfmSegmentation['RFMClass']=='111']

,Item_Identifier,recency,frequency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass
2,DRA59,43,8,20915.4412,1,1,1,111
19,DRD15,43,7,17659.6792,1,1,1,111
34,DRE48,43,7,24437.5232,1,1,1,111
35,DRE49,43,9,24136.5816,1,1,1,111
41,DRF23,43,8,21107.1916,1,1,1,111
43,DRF27,43,8,17457.2760,1,1,1,111
77,DRI01,43,7,21727.7172,1,1,1,111
78,DRI03,43,8,22492.0556,1,1,1,111
90,DRJ11,43,7,20421.4176,1,1,1,111
113,DRL01,43,7,29913.0624,1,1,1,111
123,DRM23,43,7,19658.4108,1,1,1,111
125,DRM37,43,7,27393.6752,1,1,1,111
129,DRM59,43,7,16302.7788,1,1,1,111
134,DRN47,43,9,26245.8360,1,1,1,111
139,DRP35,43,8,17385.3696,1,1,1,111
141,DRQ35,43,7,18204.3036,1,1,1,111
148,FDA04,43,8,35741.4756,1,1,1,111
156,FDA15,43,8,41584.5364,1,1,1,111
168,FDA32,43,7,17257.5360,1,1,1,111
201,FDB15,43,7,27156.6504,1,1,1,111
203,FDB17,43,8,25534.7616,1,1,1,111
231,FDB56,43,7,26849.0508,1,1,1,111
247,FDC17,43,7,31979.7056,1,1,1,111
266,FDC46,43,7,26557.4304,1,1,1,111
281,FDD05,43,8,17594.4308,1,1,1,111
288,FDD17,43,7,24244.4412,1,1,1,111
295,FDD29,43,8,32469.7344,1,1,1,111
302,FDD39,43,7,25966.2000,1,1,1,111
310,FDD50,43,7,21815.6028,1,1,1,111
324,FDE11,43,8,27208.5828,1,1,1,111
...,...,...,...,...,...,...,...,...
1233,FDZ23,43,7,19947.3680,1,1,1,111
1235,FDZ26,43,8,29877.7750,1,1,1,111
1278,NCB30,43,7,18848.7980,1,1,1,111
1279,NCB31,43,8,23406.1990,1,1,1,111
1286,NCC18,43,8,17933.9888,1,1,1,111
1320,NCF42,43,9,17577.1200,1,1,1,111
1325,NCG07,43,7,19544.5590,1,1,1,111
1358,NCJ30,43,9,21052.5960,1,1,1,111
1367,NCK18,43,7,19649.0896,1,1,1,111
1373,NCK53,43,8,17162.3266,1,1,1,111
1383,NCL31,43,9,26339.0480,1,1,1,111
1386,NCL53,43,8,24617.2892,1,1,1,111
1429,NCO29,43,7,16774.1652,1,1,1,111
1438,NCP05,43,8,22314.9528,1,1,1,111
1442,NCP18,43,7,20313.5580,1,1,1,111
1453,NCQ05,43,8,18507.9084,1,1,1,111
1454,NCQ06,43,9,34680.1904,1,1,1,111
1464,NCQ53,43,7,34508.4140,1,1,1,111
1466,NCR05,43,7,21031.2904,1,1,1,111
1476,NCR53,43,7,23629.2420,1,1,1,111
1479,NCS06,43,7,22091.2440,1,1,1,111
1487,NCS53,43,8,19015.2480,1,1,1,111
1488,NCS54,43,7,24348.3060,1,1,1,111
1510,NCV06,43,8,20924.7624,1,1,1,111
1532,NCX18,43,7,16891.3460,1,1,1,111
1536,NCX42,43,7,18418.6912,1,1,1,111
1542,NCY18,43,9,29067.4964,1,1,1,111
1550,NCZ06,43,7,22830.2820,1,1,1,111
1552,NCZ18,43,7,29679.3666,1,1,1,111
1558,NCZ54,43,7,22743.7280,1,1,1,111

Which are the top 5 best items that bought high sales? by RFM Class (111) , we could find it

In [53]:
rfmSegmentation[rfmSegmentation['RFMClass']=='111'].sort_values('monetary_value', ascending=False).head(5)

,Item_Identifier,recency,frequency,monetary_value,R_Quartile,F_Quartile,M_Quartile,RFMClass
1210,FDY55,43,8,42661.8008,1,1,1,111
156,FDA15,43,8,41584.5364,1,1,1,111
1230,FDZ20,43,8,40185.0248,1,1,1,111
359,FDF05,43,8,36555.7490,1,1,1,111
148,FDA04,43,8,35741.4756,1,1,1,111